@import '@/styles/mixins';

.favorito{
  width: 100%;
  min-height: calc(100vh - 150px);
  @include caja-flex(column,flex-start,center);

  &-container {
    @include caja-flex(column,center,center);
    padding-top: 20px;
  }
}