@import '@/styles/mixins';

.menu-item {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  @include caja-flex(column,center,center);
  

  &__link {
    text-decoration: none;
    margin: 30px 0;
    @include caja-flex(row,center,center,10px);
  }
}

.hr {
  width: 90%;
}