@import '@/styles/mixins';

.button {
  min-width: 110px;
	max-width: 250px;
	padding: 0 10px;
  height: 30px;
	background-color: var(--purple);
	border-radius: 10px;
	border: 0;
	color: var(--white);
	font-size: 14px;
	font-weight: bold;
	@include caja-flex(row,center,center,10px);
	text-decoration: none;
	cursor: pointer;
	transition-duration: .5s;
	&:hover {
		opacity: .8;
	}
}