.theme {
  &-footer--light {
    color: var(--black-light);
    background-color: var(--white-dark);
    border-top: 1px solid var(--black-light);
  }
  &-footer--dark {
    color: var(--white-dark);
    background-color: var(--black-light);
    border-top: 1px solid var(--white-dark);
  }
  // background nav
  &--nav-light {
    background-color: var(--white-dark);
    border-bottom: 1px solid var(--black-light);
    transition-duration: .5s;
  }
  &--nav-dark {
    background-color: var(--black-light);
    border-bottom: 1px solid var(--white-dark);
    transition-duration: .5s;
  }
  &--bg-light {
    background-color: var(--white-dark);
    transition-duration: .5s;
  }
  &--bg-dark {
    background-color: var(--black-light);
    transition-duration: .5s;
  }
  // svg
  &-svg--light {
    filter: invert(0);
  }
  &-svg--dark {
    filter: invert(1);
  }
  // btn
  &-btn--light {
    background-color: var(--black-light);
  }
  &-btn--dark {
    background-color: var(--white-dark);
  }
  &-border--light {
    border: 1px solid var(--black-light);
  }
  &-border--dark {
    border: 1px solid var(--white-dark);
  }
  &-color--light {
    color: var(--black-light);
    text-decoration: none;
  }
  &-color--dark {
    color: var(--white-dark);
    text-decoration: none;
  }
  &-page--light {    
    background-color: var(--white-dark);
    color: var(--black-light);
  }
  &-page--dark {    
    background-color: var(--black-light);
    color: var(--white-dark);
  }
  
  &-input {
    &--light {   
      background-color: var(--white-dark);
      
    }
    &--dark {
      background-color: var(--black);
      caret-color: var(--white-dark);
      color: var(--white);
      &::placeholder {
        color: var(--white-dark);
      }
    }
  }  
  &-skeleton-default {
    &--light {
      color: #00000090;
    }
    &--dark {
      color: var(--gray);
    }
  }

  
  &-subtitle {
    &--light {
      border-bottom: 1px solid var(--black-light);
    }
  
    &--dark {
      border-bottom: 1px solid var(--white-dark);
    }
  }
  
  &-suggestion--dark {
    background-color: var(--black);
    color: var(--white-dark);
    &:hover {
      background-color: var(--black-light);
    }
  }  
}