@import '@/styles/mixins';

.error {
  min-height: calc(100vh - 150px);
  @include caja-flex(column,center,center);

  &__btn {
    background-color: var(--purple);
    color: var(--white);
    text-decoration: none;
    @include caja-flex(row,center,center,10px);
    height: 30px;
    width: 250px;
    border-radius: 10px;
    transition-duration: .5s;
    &:hover {
      opacity: .8;
    }
  }
}