@import '@/styles/mixins';

.nav__ul {
  width: 100%;
  min-height: calc(100vh - 45px);
  margin-top: 45px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .5s ease;
  @include caja-flex(column,flex-start,center);  
  
  @include desktop {
    flex-direction: row;
    min-height: 40px;
    height: 40px;
    margin-top: 0;
    width: auto;
    margin-right: 30px;
  }
  
}

.icon-item {
  @include desktop {
    display: none;
  }
}

.cerrar {
  right: -100%;
  opacity: 0;
  @include desktop {
    right: 0;
    opacity: 1;
  }
}