.header {
  background-color: var(--white-dark); // theme
  box-shadow: 0 4px 4px -4px var(--black-light); //theme
  color: var(--purple);
	width: 100%;
	padding: 0 30px;
  height: 45px; //res

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
	width: 100%;
    
  &__ul {
    list-style: none;
  }
  &__link {
    text-decoration: none;
  }
}

.container-logo {
  width: 35px; // res
  &__img {
    max-width: 100%;
    object-fit: cover;
  }
}