@import '@/styles/mixins';

.header {
  position: relative;
  z-index: 10;
}
.nav {
  position: fixed;
  height: 45px;
  padding: 0 30px;
  width: 100%;
  @include caja-flex(row,space-between,center);   
}
.header__content {
  @include caja-flex(row,flex-start,center,20px);  
  @include desktop {
    margin-right: 450px;
  }
}

.container-logo {
  width: 35px;
  &__img {
    width: 35px;
    max-width: 100%;
    object-fit: cover;
  }
}