@import '@/styles/mixins';

footer {
  @include caja-flex(column,center,center);
  padding: 0 20px;
}
.footer__network {
  transition: all .5s ease;
  &:hover {
    font-size: 12px;
    color: var(--purple);
  }
}
.footer__container {
  width: 80%;
  @include caja-flex(row,space-between,stretch);

}

.footer__empresa {
  flex-basis: 55%;
}
.footer__p {
  font-size: 12px;
  text-align: justify;
}
.explora {
  flex-basis: 35%;
  @include caja-flex(column,flex-start,stretch,7px);
}

.footer__copy {
  font-size: 10px;
  margin: 5px 0 5px;
}